
/*GENERAL NAV*/
nav{
    background-color: #DA4EB0;
}
.ff:hover{
    background-color: #E689CB;
    color: white;
    text-decoration: underline;
}
main{
    padding: 40px;
    background-color: #ffeaf9;
    padding-bottom: 50px;
    min-height: calc(70px - 100vh - 50px);
}



footer{
    background-color: #CD1396;
    color: #F3C4E5;
    display: flex;
    justify-content: space-around;


}
.img{
    display: flex;
    justify-items: center;
    align-content: end;
    flex-wrap: wrap;
}
.botonw{
    position: fixed;
    right: 0;
    bottom: 0;
}
/*HOME*/
.pres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*PRODUCTOS*/

.prod{
    padding: 0px;
}
section{
    display: flex;
    justify-content: center;
    
}
section div{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*SEDES*/
/*SOBRE NOSOTROS*/
.us{
    display: flex;
    padding: 30px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
/*CONTACTO*/
.nos{
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 560px;
}